<div data-sly-test="${properties.backgroundstyle == 'image'} ">
<div class="container">

       <div class="card" style="width:400px; background-image:url(${properties.fileReference@ context='styleString'}); background-repeat:no-repeat; background-size: cover;">

            <div class="card-body">
                <h4 class="card-title">This is based on background Image</h4>
                <p class="card-text">BG IMAGE</p>

            </div>
        </div>

    <br>
</div>


</div>
<div data-sly-test="${properties.backgroundstyle == 'color'} ">
	<div class="container">

       <div class="card" style="width:400px; background-color:${properties.bgcolor@ context='styleToken'}; ">
            <div class="card-body">
                <h4 class="card-title">This is based on background Color</h4>
                <p class="card-text">${properties.bgcolor}</p>

            </div>
        </div>

    <br>
</div>
</div>
<div data-sly-test="${properties.backgroundstyle == 'empty'} ">

<h1>
    Please configure component
</h1>
</div>